.televisao {
    margin: 5px;
    border-radius: 10px;
    width: 1083px;
    height: 660px;
    background-image: url('../Sprites/tv.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.tela-de-jogo{
    width: 800px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 40px;
    left: 55px;
    z-index: -1;
}

.fundo {
  position: absolute;
    background-image: url("../Sprites/scene.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 600px;
}
