  .pato{
    position: absolute;
    height: 66px;
    width: 83px;
    background: url("../Sprites/sprites.png") no-repeat -1404px -3px;
    transform: translateX(-50%);
    transform: translateY(-50%);
    transform: scaleX(1);
    transition: 0s;
  }

.pato-invertido{
  height: 66px;
  width: 83px;
  background: url("../Sprites/sprites.png") no-repeat -1404px -3px;
  transform: scaleX(-1);
  transition: 0s;
}

.pato-wrapper{
  position: absolute;
  transition: 1s;
}

.pato-voando{
  animation: pato-voando 0.5s steps(3) infinite;
}

.pato-morrendo{
  animation: pato-morrendo 2s linear forwards;
}

