* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

*:active, *:focus {
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  color : yellow;
  border: 1px solid #fff;
  padding: 15% 5%;
  border-width: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content > input {
  background-color: transparent;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  text-align: center;
  padding-bottom: 10px;
  caret-color: yellow;
}
/*utilizado na home*/
#snow{
  background-color: #000;
	font-family: Androgyne;
	background-image: url('https://www.idbox-monaco.com/index/IMG/light-point.png'), url('http://www.wearewebstars.dk/codepen/img/s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
  background-repeat: repeat;
  background-size: 200px 200px;
	animation: snow 55s linear infinite;
}
