.btn, .btn-nome {
  position: absolute;
  color: #000;
  background-color: yellow;
  box-shadow: .2em .2em #f05805;
  display: flex;
  justify-content: center;
  border: 0;
  transition-duration: .2s;
}

.btn-nome {
  width: 200px;
  height: 80px;
  font-size: 30px;
  top: 65%;
}

.btn {
  width: 400px;
  height: 100px;
  font-size: 50px;
  top: 65%;
}

.btn:active, .btn-nome:active {
  box-shadow: 0 0 transparent;
  transition-duration: .2s;
  margin-left: 5px;
  margin-top: 5px;
}
