/* ESTILOS DA TELA DE TESTE */
.quadrado{
  position: absolute;
  top: 400px;
  left: 600px;
  width: 60px;
  height: 60px;
}

.quadrado1{
  background: cyan;
}

.quadrado2{
  background: pink;
}

.teste{
  background: red;
}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
	font-family: Androgyne;
	background-image: url('https://www.idbox-monaco.com/index/IMG/light-point.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
  background-repeat: repeat;
  background-size: 200px 200px;
	-webkit-animation: snow 30s linear infinite;
	-moz-animation: snow 55s linear infinite;
	-ms-animation: snow 30s linear infinite;
	animation: snow 55s linear infinite;
}

*:active, *:focus {
  outline: none;
}

.paragraph {
  color: #fff;
  font-weight: bold;
  margin-left: 130px;
  letter-spacing: 2px;
  font-family: oitobit;
}

.rotated {
  -webkit-transform: rotate(-12.5deg);
  transform: rotate(-12.5deg);
}

.content-wrapper, .mobile-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.token {
  width: 320px;
  display: block;
  background: #000;
}

.image-token {
  width: 100%;
  height: 250px;
  background: #4e9ae8;
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
}

.img {
  width: 230px;
  height: 200px;
  position: relative;
  left: 10px;
  bottom: 0px;
}

.image-token:before {
    content: "";
    position: absolute;
    bottom: -39px;
    left: -10px;
    width: 410px;
    background: rgb(0, 0, 0);
    height: 90px;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

@font-face {
  font-family: porticooblique;
  src: url('portico-oblique.otf');
}

@font-face {
  font-family: oitobit;
  src: url('8-bit-operator-8-bold.ttf');
}

/* Usada na tela de tutorial */
@font-face{
  font-family: '8bit';
  src: url('../Styles/8-bit-operator-8-bold.ttf');
}

.token-text {
  background-color: #000;
  color: #f05805;
  font-size: 50px;
  letter-spacing: 2px;
  position: relative;
  top: -80px;
  left: -10px;
  font-weight: lighter;
  width: auto;
}

.text {
  font-family: porticooblique;
  font-weight: lighter;
}

.i {
  margin: 10px;
  width: auto;
}

.number {
  color: #fff;
  font-family: oitobit;
  font-size: 20px;
}

h2 {
  width: 70%;
  color: yellow;
  transition-duration: .5s;
  opacity: 1;
  text-align: right;
  margin-top: -115px;
  font-size: 130%;
  margin-left: 90px;
}

h2:hover {
  transition-duration: .5s;
  opacity: 1;
}

.btn, .btn-nome {
  color: #000;
  background-color: yellow;
  box-shadow: .2em .2em #f05805;
  display: flex;
  align-self: center;
  justify-content: center;
  border: 0;
  transition-duration: .2s;
}

.btn-nome {
  width: 200px;
  height: 200vh;
  font-size: 20px;
  margin-top: 10px;
}

.btn {
  width: 400px;
  height: 100px;
  font-size: 50px;
  margin-top: 40px;
}

.btn:active, .btn-nome:active {
  box-shadow: 0 0 transparent;
  transition-duration: .2s;
}

.content-token, .content-nome {
  display: flex;
  flex-direction: column;
  color : yellow;
  border: 1px solid #fff;
  padding: 15% 5%;
  border-width: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-token {
  height: 1200px;
  font-size: 80px;
}

.content-nome {
  height: 95vh;
  width: 90vw;
  font-size: 60px;
}

.content-nome > input {
  font-size: 50px;
  width: 600px;
  caret-color: yellow;
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  font-size: 70px;
  align-items: center;
}

.menu > a {
  font-family: oitobit;
  text-decoration-line: none;
  padding: 30px 50px;
  color: #fff;
  -webkit-box-shadow: 5px 6px 15px 2px rgba(0,0,0,0.5);
  box-shadow: 5px 6px 15px 2px rgba(0,0,0,0.5);
  transition-duration: .2s;
  border: 2px solid #fff;
  background-color: rgba(0,0,0,0.8);
}

.menu > a:hover {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(255,0,0,0);
  transition-duration: .2s;
}
  .menu > a:active {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(255,0,0,0);
    transition-duration: .2s;
    color: yellow
  }

.content-token > input, .content-nome > input {
  background-color: transparent;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  text-align: center;
  padding-bottom: 10px;
}

.content-token > input {
  width: 800px;
  font-size: 80px;
}


.ak{
width: 20em;
height: 20em;
background: url(http://www.igorcamargo.com.br/img/ak47.png);
background-size: cover;
}


.gun {
  width: 100vw;
  height: 100vh;
  border: 0;
  background-color: #fff;
  text-align: center;
  padding-left: 35%;

}

.gun:active {
  background-color: #0f0
}


.warn {
  position: absolute;
  top: 200px;
  left: 20px;
  font-size: 70px;
  animation: hide linear 1s forwards;
  animation-delay: 3s;
  font-family: oitobit;
}

@keyframes hide {
  0% {
    top: 200px;
    left: 20px;
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    top: -200px;
    left: 0;
    opacity: 0;
  }
}

/* Usada na tela de jogo e tutorial */
.mira{
  position: absolute;
  background-image: url("../Sprites/mira.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width:50px;
}

.tela-tutorial-pato{
  position: absolute;
  height: 66px;
  width: 83px;

  background: url("../Sprites/sprites.png") no-repeat -1404px -3px;
  animation: pato-voando 0.5s steps(3) infinite;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

.tela-tutorial-aviso{
  display:inline-block;
  word-wrap: normal;
  font-family: '8bit';
  font-size: 20px;
  color:  white;
  min-width: 100px;
  max-width: 350px;

}

.aviso-instrucoes{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: inline-block;
    word-wrap: normal;
    font-family: '8bit';
    color: yellow;
    font-size: 25px;
    min-width: 200px;
    max-width: 350px;
}

.aviso-giroscopio{
  position: absolute;
  right: 7%;
  bottom: 7%;
  text-align: right;
}

.aviso-som{
  position: absolute;
  left: 7%;
  bottom: 7%;
  text-align: left;
}

/* Animações do Pato */

@keyframes pato-voando {
  from { background-position: -1404px -3px; }
  to { background-position: -1652px -3px; }
}

@keyframes pato-morrendo{
  0% { background-position: -1655px -7px; }
  100% { background-position: -1735px -7px; }
}

@keyframes pato-sumindo{
  0% { opacity: 1; background-position: -1735px -7px;}
  100% { opacity: 0; background-position: -1735px -7px; top: 600px;}
}

/* Animações de Background */

#snow{
	
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 300px 1000px, 100px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
