* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*:active, *:focus {
  outline: none;
}

.paragraph {
  color: #fff;
  font-weight: bold;
  margin-left: 155px;
  letter-spacing: 2px;
  font-family: 'Arvo', serif;
}

.rotated {
  -webkit-transform: rotate(-12.5deg);
  transform: rotate(-12.5deg);
}

.content-wrapper, .mobile-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  background: #000;
}

.token {
  width: 320px;
  display: block;
  background: #000;
}

.image-token {
  width: 100%;
  height: 250px;
  background: #4e9ae8;
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
}

.img {
  width: 230px;
  height: 200px;
  position: relative;
  left: -38px;
  bottom: -20px;
}

.image-token:before {
    content: "";
    position: absolute;
    bottom: -39px;
    left: -10px;
    width: 410px;
    background: rgb(0, 0, 0);
    height: 90px;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

@font-face {
  font-family: porticooblique;
  src: url('portico-oblique.otf');
}

@font-face {
  font-family: oitobit;
  src: url('8-bit-operator-8-bold.ttf');
}

/* Usada na tela de tutorial */
@font-face{
  font-family: '8bit'; 
  src: url('../Styles/8-bit-operator-8-bold.ttf'); 
}

.token-text {
  background-color: #000;
  color: #f05805;
  font-size: 50px;
  letter-spacing: 2px;
  position: relative;
  top: -80px;
  left: -10px;
  font-weight: lighter;
  width: auto;
}

.text {
  font-family: porticooblique;
  font-weight: lighter;
}

.i {
  margin: 10px;
  width: auto;
}

.number {
  color: #fff;
  font-family: 'Arvo', serif;
  font-size: 20px;
}

h2 {
  width: 70%;
  color: yellow;
  transition-duration: .5s;
  opacity: 1;
  text-align: right;
  margin-top: -115px;
  font-size: 130%;
  margin-left: 90px;
}

h2:hover {
  transition-duration: .5s;
  opacity: 1;
}

.btn, .btn-nome {
  color: #000;
  background-color: yellow;
  box-shadow: .2em .2em #f05805;
  display: flex;
  align-self: center;
  justify-content: center;
  border: 0;
  transition-duration: .2s;
}

.btn-nome {
  width: 200px;
  height: 200vh;
  font-size: 20px;
  margin-top: 10px;
}

.btn {
  width: 400px;
  height: 100px;
  font-size: 50px;
  margin-top: 40px;
}

.btn:active, .btn-nome:active {
  box-shadow: 0 0 transparent;
  transition-duration: .2s;
}

.content-token, .content-nome {
  display: flex;
  flex-direction: column;
  color : yellow;
  border: 1px solid #fff;
  padding: 15% 5%;
  border-width: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-token {
  height: 1200px;
  font-size: 80px;
}

.content-nome {
  height: 95vh;
  width: 90vw;
  font-size: 60px;
}

.content-nome > input {
  font-size: 50px;
  width: 600px;
  caret-color: yellow;
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  font-size: 70px;
  align-items: center;
}

.menu > a {
  font-family: oitobit;
  text-decoration-line: none;
  padding: 30px 50px;
  color: #fff;
  -webkit-box-shadow: 5px 6px 15px 2px rgba(0,0,0,0.5);
  box-shadow: 5px 6px 15px 2px rgba(0,0,0,0.5);
  transition-duration: .2s;
  border: 2px solid #fff;
  background-color: rgba(0,0,0,0.8);
}

.menu > a:hover {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(255,0,0,0);
  transition-duration: .2s;
}
  .menu > a:active {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(255,0,0,0);
    transition-duration: .2s;
    color: yellow
  }

.content-token > input, .content-nome > input {
  background-color: transparent;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  text-align: center;
  padding-bottom: 10px;
}

.content-token > input {
  width: 800px;
  font-size: 80px;
}


.ak{
width: 20em;
height: 20em;
background: url(http://www.igorcamargo.com.br/img/ak47.png);
background-size: cover;
}


.gun {
  width: 100vw;
  height: 100vh;
  border: 0;
  background-color: #fff;
  text-align: center;
  padding-left: 35%;

}

.gun:active {
  background-color: #0f0
}


.warn {
  position: absolute;
  top: 200px;
  left: 20px;
  font-size: 70px;
  animation: hide linear 1s forwards;
  animation-delay: 3s;
  font-family: oitobit;
}

@keyframes hide {
  0% {
    top: 200px;
    left: 20px;
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    top: -200px;
    left: 0;
    opacity: 0;
  }
}

/* Usada na tela de jogo e tutorial */
.mira{
  position: absolute;
  background-image: url("../Sprites/misra.png");
  background-image: url("../Sprites/mira.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width:50px;
}

.tela-tutorial{
  width: 100vw;
  height: 100vh;
}

.tela-tutorial-fundo{
  
  width: 100%;
  height: 100%;
  background-color: gray;
  overflow: hidden;
}

.tela-tutorial-borda{
  margin: 5%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  height: 90%;
  width: 90%;
}

.tela-tutorial-pato{
  height: 66px;
  width: 68px;
  background: url("../Sprites/sprites.png") no-repeat -1412px -3px;
  animation: pato-voando 1s steps(3) infinite;
}

.tela-tutorial-aviso-instrucoes{
  word-wrap: normal;
}

.tela-tutorial-aviso-giroscopio{
  word-wrap: normal;
}

.tela-tutorial-aviso-som{
  word-wrap: normal;
}

@keyframes pato-voando {
  0%  { background-position: -1412px -3px; }
  50%   { background-position: -1495px -3px; }
  100%    { background-position:  -1575px -3px; }
}

