<div class="row" style="margin-top: 50px;">
        <div class="container col-md-6 col-md-offset-3 text-center">
            <h2>Trechos:</h2>
        </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-2"></div>
    <div class="container col-md-2 col-md-offset-3">
            <input class="form-control mr-sm-2" type="text" ng-model="search.Origem.Nome" placeholder="Origem">
    </div>
    <div class="container col-md-2 col-md-offset-3">
            <input class="form-control mr-sm-2" type="text" ng-model="search.Destino.Nome" placeholder="Destino">
    </div>
    <div class="col-md-2"></div>
</div>
<form novalidate name="formReserva" ng-submit="salvar(reserva)">
    <div class="row" style="margin-top: 50px;">
        <div class="container col-md-6 col-md-offset-3 text-center">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Distancia</th>
                    <th>Escolha</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="trecho in trechos  | filter: search">
                    <td>{{trecho.Origem.Nome}}</td>
                    <td>{{trecho.Destino.Nome}}</td>
                    <td>{{trecho.Distancia}}</td>
                    <td><input type="radio" name="trecho" ng-value="trecho.Id" ng-model="reserva.trechoId" ng-change="atualizaReservaASalvar()"></td>
                </tr>
                </tbody>
            </table> 
        </div>   
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="container col-md-3 col-md-offset-3 text-center">
            <h2> Opcionais: </h2>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Opcional</th>
                    <th>Escolha</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="opcional in opcionais">
                    <td>{{opcional.Nome}}</td>
                    <td><input type="checkbox" ng-model="opcional.checked" ng-change="atualizaReservaASalvar()"></td>
                </tr>
                </tbody>
            </table> 
        </div>
        <div class="container col-md-3 col-md-offset-6 text-center">
            <h2> Classes de voo: <h2>
            <select class="form-control" id="selectClasse" ng-model="reserva.classeDeVooId" ng-change="atualizaReservaASalvar()">
                <option ng-repeat="x in classes" value="{{x.Id}}">{{x.Tipo}}</option>
            </select>
            <fieldset style="margin-top: 50px;">
                <label class="control-label" for="readOnlyInput">Valor Total:</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="Valor aparecerá aqui..." readonly="" value="{{valorTotal}}">
            </fieldset>
        </div>       
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="container col-md-6 col-md-offset-3 text-center">
                <input type="submit" class="btn btn-primary" value="Reservar">
        </div>
    </div>
</form>
<div class="row" style="margin-top: 50px;">
    <div class="container col-md-6 col-md-offset-3 text-center">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Trecho</th>
                <th>Valor</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reserva in reservas">
                <td>{{reserva.Trecho.Origem.Nome}} -> {{reserva.Trecho.Destino.Nome}}</td>
                <td>{{reserva.ValorReserva}}</td>
                <td><input type="button" class="btn btn-primary" value="Excluir" ng-click="removerReservaPorId(reserva.Id)"></td>
            </tr>
            </tbody>
        </table> 
    </div>   
</div>
