<div class="content-wrapper" id="snow">
  <div class="token">
    <div class="image-token">
      <img src="/styles/images/duck.png" alt="error" class="img">
    </div>
    <h1 class="token-text text rotated">DUCKNATOR</h1>
    <h2 class="text rotated">UTILIZE A URL PARA ACESSAR EM SEU CELULAR</h2>
    <div class="ip">
      192.168.0.15:8081
    </div>
    <div class="number">
      Seu token:
      <p class="token-token">{{token}}</p>
    </div>
  </div>
  <button type="button" name="button" class="btn-home" ng-click="ranking()">RANKING</button>
  <button type="button" name="button" class="btn-home btn-ranking-diario" ng-click="rankingDiario()" style="top: 120px;">RANKING DIÁRIO</button>
  <button type="button" name="button" class="btn-home btn-ranking-mensal" ng-click="rankingMensal()" style="top: 200px;">RANKING MENSAL</button>
</div>
