<div class="star">

    <div class="televisao">
        <div class="tela-de-jogo">
            <div class="fundo">
                <span class="cachorro"></span>
                <span ng-class="{'cachorroRindo': qntdPatos == 0}"></span>
                <span ng-class="{'cachorroMaisUmPato cachorroPato': qntdPatos == 1}"></span>
                <span ng-class="{'cachorroMaisDoisPatos cachorroPato': qntdPatos == 2}"></span>
                <div class="pato-wrapper" style="
                    left:{{patos[0].Posicoes.PosicaoX}}px;
                    top:{{patos[0].Posicoes.PosicaoY}}px;">
                        <div ng-class="{
                        'pato-voando':patos[0].Vivo == true,
                        'pato-morrendo': patos[0].Vivo == false,
                        'pato': patos[0].Invertido == false,
                        'pato-invertido': patos[0].Invertido == true}" id="{{patos[0].Id}}">
                        </div>
                </div>
                <div class="pato-wrapper" style="
                    left:{{patos[1].Posicoes.PosicaoX}}px;
                    top:{{patos[1].Posicoes.PosicaoY}}px;">
                        <div ng-class="{
                        'pato-voando':patos[1].Vivo == true,
                        'pato-morrendo': patos[1].Vivo == false,
                        'pato': patos[1].Invertido == false,
                        'pato-invertido': patos[1].Invertido == true}" id="{{patos[1].Id}}">
                        </div>
                </div>
                <!-- </div> -->

                <div class="mira" id="mira" style="{{mira}}"></div>

                <div class="console-informacoes">
                    <div class="box-numero-round">
                        <p>R =
                            <span>{{roundAtual}}</span>
                        </p>
                    </div>
                    <!-- TODO transformar num NG-REPEAT -->
                    <div class="box-municao">
                        <div class="patinhos-flex">
                            <div ng-repeat="bala in balas track by $index">
                                <div class="bala"></div>
                            </div>
                        </div>

                        <p>SHOT</p>
                    </div>
                    <div class="box-patos">
                        <p>HIT</p>
                        <div class="patinhos-flex">
                            <div ng-repeat="patoVermelho in patinhoVermelho track by $index">
                                <div class="patinhos patinho-vermelho"></div>
                            </div>
                            <div ng-repeat="patoBranco in patinhoBranco track by $index">
                                <div class="patinhos patinho-branco"></div>
                            </div>
                        </div>
                    </div>
                    <div class="box-score">
                        <p>{{scoreIndividual}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="leaderborder">
        <div>PESSOAS ONLINE</div>
        <ol>
            <li ng-repeat="leader in leaderBoard">
                {{leader.Nome}} | {{leader.Pontos}}
            </li>
        </ol>
    </div>
</div>
<span ng-class="{'inicioRound' : inicio}">Round 1</span>


<!-- <button type="button" name="button" ng-click="rodaRound()">Iniciar round</button> -->
