@font-face{
    font-family: '8bit'; 
    src: url('../Styles/8-bit-operator-8-bold.ttf'); 
}

.tela-de-jogo{
    width: 800px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.mira{
    position: absolute;
    background-image: url("../Sprites/mira.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width:50px;
}

.console-informacoes{
    background-image: url("../Sprites/grass.png");
    background-repeat: no-repeat;
    background-size: 800px, 600px;
    position: relative;
    top: 350px;
    height: 250px;
    width: 800px;
    font-family: '8bit';
}

.fundo{
    background-image: url("../Sprites/scene.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 600px;   
}

.box-numero-round{
    position: absolute;
    top: 155px;
    left: 80px;

    font-family: '8bit';
    color: greenyellow;

    background-color: black;
    width: 100px;
    height: 24px;

}

.box-municao{
    position: absolute;
    top: 190px;
    left: 74px;

    font-family: '8bit';
    color: aqua;

    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: greenyellow;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

p {
    margin:3px;
    margin-left: 5px;
}

.box-patos{
    position: absolute;
    top: 190px;
    left: 247px;

    font-family: '8bit';
    color: greenyellow;

    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: greenyellow;
    border-radius: 10px;

    width: 300px;
    height: 50px;
}

.box-score{
    position: absolute;
    top: 190px;
    left: 570px;

    font-family: '8bit';
    color: white;
    
    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: greenyellow;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

@keyframes animacaoCachorro {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(500%);
    }
  }
  
.cachorro { 
    position: absolute; 
    animation: 1s ease-out 0s 1 animacaoCachorro;
    height: 50px;
    width: 50px;
    top:200px;
    background: #333;
    padding: 30px;
  }
