
.bola{
    position: absolute;
    top: 400px;
    left: 600px;
    width: 60px;
    height: 60px;
    background: green;
    border-radius: 50%;
}

.quadrado{
    position: absolute;
    top: 300px;
    left: 300px;
    width: 60px;
    height: 60px;
    background: rgb(128, 0, 0);
    border-radius: 50%;
}