body {
  margin: 0;
  padding: 0;
  background-image: url('../Styles/images/stars-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face{
    font-family: '8bit';
    src: url('../Styles/8-bit-operator-8-bold.ttf');

}

.televisao {
  width: 80vw;
  height: 100vh;
  background-image: url('../Sprites/tv.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.tela-de-jogo{
    width: 800px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 40px;
    left: 55px;
    z-index: -1;
}

.mira{
    position: absolute;
    background-image: url("../Sprites/mira.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width:50px;
    z-index: 1;
}

.console-informacoes{
    background-image: url("../Sprites/grass.png");
    background-repeat: no-repeat;
    background-size: 800px, 600px;
    position: relative;
    top: 350px;
    height: 250px;
    width: 800px;
    font-family: '8bit';
}

.fundo{
    background-image: url("../Sprites/scene.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 600px;
}

.box-numero-round{
    position: absolute;
    top: 90px;
    left: 80px;

    font-family: '8bit';
    color: greenyellow;

    background-color: black;
    width: 100px;
    height: 24px;
    border-radius: 10px;
    z-index: 1;
}

.box-municao{
    position: absolute;
    top: 130px;
    left: 74px;

    font-family: '8bit';
    color: aqua;

    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: greenyellow;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    z-index: 1;
    padding-left: 5px;
    padding-top: 10px;
}

p {
    margin:3px;
    margin-left: 5px;
}

.box-patos{
    position: absolute;
    top: 130px;
    left: 247px;

    font-family: '8bit';
    color: greenyellow;

    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: greenyellow;
    border-radius: 10px;

    width: 300px;
    height: 50px;
    z-index: 1;
}

.box-score{
    position: absolute;
    top: 130px;
    left: 570px;

    font-family: '8bit';
    color: white;

    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: greenyellow;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    z-index: 1;
}

.score {
  text-align: right;
}

.cachorro {
	position:absolute;
	bottom: 85px;
	z-index:1;
	background: url('../Sprites/sprites.png') no-repeat;
	width: 120px;
	height: 100px;
}

.cachorro {
	animation: move 2.8s linear forwards, walk 4s step-start 1 forwards;
}


@keyframes move {
  from {left:0px;}
	to {left:250px;}
}

@keyframes walk {
	0% { background-position:0px 0px; }
	3% { background-position:-5px -38px; }
	6% { background-position:-136px -32px; }
	9% { background-position:-267px -32px; }
	/*12% { background-position:0px 0px; }*/
	15% { background-position:-5px -38px; }
	18% { background-position:-136px -32px; }
	21% { background-position:-267px -32px; }
	/*24% { background-position:0px 0px; }*/
	27% { background-position:-5px -38px; }
	30% { background-position:-136px -32px; }
	33% { background-position:-267px -32px; }
	/*36% { background-position:0px 0px; }*/
	39% { background-position:-5px -38px; }
	42% { background-position:-136px -32px; }
	45% { background-position:-267px -32px; }
	/*48% { background-position:0px 0px; }*/
	51% { background-position:-5px -38px; }
	54% { background-position:-136px -32px; }
	57% { background-position:-267px -32px; }
	/*60% { background-position:0px 0px; }*/
	63% { background-position:-5px -38px; }
	66% { background-position:-136px -32px; }
	69% { background-position:-267px -32px;  } /* Walk */

	72% { background-position:-387px -38px; }  /* Snif  */
	75% { background-position:-518px -38px;  }
	78% { background-position:-387px -38px;  }
	81% { background-position:-518px -38px;  }

	90% {
    background-position:-652px -22px;
    width: 106px;
	  height: 100px;
    }
	93% {
    background-position:-791px -7px;
    width: 70px;
	  height: 190px;
    } /* Pula */
	96% {
    background-position:-920px -30px;
    width: 66px;
	  height: 150px;
  }
	100% { background-position: 1000px 1000px }/*Se esconde*/
}

.cachorroRindo {
  position: absolute;
  width: 58px;
	height: 78px;
  top: 500px;
  left: 200px;
  background: url('../Sprites/spriteDog.png') no-repeat 1000px 1000px;
}
.cachorroRindo{
  animation: rir .3s steps(1) infinite,
            aparecer 4s forwards;
  animation-fill-mode: both;
  animation-delay: 0s, 5s;
  transition: opacity 0.00001s ease-in-out;
}
@keyframes rir {
  0% {background-position: -394px -126px}
  50% {background-position: -514px -126px}
  100% {background-position: -394px -126px}
}

@keyframes aparecer {
  0% {top: 500px}
  50% {top: 350px}
  100% {top: 500px}
}

.leaderborder {
  font-family: '8bit';
  width: 19vw;
  height: 70vh;
  border: 1px solid #fff;
  display: inline-block;
  float: right;
  position: fixed;
  top: 5px;
  color: #fff;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.leaderborder > div {
  text-align: center;
}

.cachorroPato {
  height: 78px;
  position: absolute;
  top: 500px;
  left: 200px;
  background: url('../Sprites/sprites.png') no-repeat;
}

.cachorroMaisUmPato {
  width: 86px;
  background-position: -1188px -21px;
  animation: aparecer 4s forwards;
}

.cachorroMaisDoisPatos {
  width: 112px;
  background-position: -1285px -21px;
  animation: aparecer 4s forwards;
  animation-delay: 9s;
}

.bala {
  display: inline-block;
  background: url('../Sprites/sprites.png');
  background-repeat: repeat-y;
  background-position: -1415px -89px;
  width: 20px;
	height: 20px;
  margin: -3px;
}
