<div style="background : white;">
    <button type="button" name="button" ng-click="rodaRound()">Iniciar round</button>
    <div class="mira" style="{{mira}}"></div>
    <div style="background : white;">
        {{bolaGamma}} +/+/+ {{bolaAlpha}} +++ TIROS: {{tiros}}
    </div>

    <div class="quadrado" style="{{stylewtf2}}" ng-if="isPato1Vivo">
    <div class="quadrado quad1" id="patoMovel">
        <b>ISSO É UM PATO!</b>
    </div>

    <div class="quadrado" style="{{stylewtf3}} background:white;" ng-if="isPato2Vivo">
    <div class="quadrado quad2" style="{{estiloQuadrado2}}">
        <b>ISSO É UM PATO!</b>
    </div>
</div>
    