<div style="background : white;">
    <button type="button" name="button" ng-click="rodaRound()">Iniciar round</button>
    <div class="bola" style="{{stylewtf}}"></div>
    <div style="background : white;">
        {{bolaGamma}} +/+/+ {{bolaAlpha}} +++ TIROS: {{tiros}}
    </div>
    <div ng-repeat="pato in patos">
        <div class="quadrado" style="left:{{pato.Posicoes.PosicaoX}}px; top:{{pato.Posicoes.PosicaoY}}px;">
            <b>ISSO É UM PATO!</b>
        </div>
    </div>
        
</div>
    